extends layout 

block content
    div.content
        div.message-top
            h1 Welcome to the Members Only Message Board
            a.btn-link Create a Post
        for message in messages
            div.message-container
                div.message-data
                    div.message-author Posted by #{message.userName}
                    div.message-date= message.date
                h2=message.title
                div.message-text=message.message




        div.modal#sign-up(style=signUp && errs ? 'display:flex': null)
            div.modal-content
                    div.modal-x
                        span.material-symbols-outlined#sign-up-x close
                    include sign-up-form.pug
        div.modal#login(style=login && errs ? 'display:flex': null)
            div.modal-content
                    div.modal-x
                        span.material-symbols-outlined#login-x close
                    include login-form.pug
    include modalScript.pug

